@using EShop.EntitiesLayer.Entities
@{
    Layout = null;
    Customer loginCustomer = Session["loginCustomer"] as Customer;
}
<ul class="header-btns">
    <!-- Account -->
    <li class="header-account dropdown default-dropdown">

        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
            <div class="header-btns-icon">
                <i class="fa fa-user-o"></i>
            </div>
            <strong class="text-uppercase">Hesabım <i class="fa fa-caret-down"></i></strong>
        </div>

        <a href="#" class="text-uppercase">Giriş Yap </a>
        <ul class="custom-menu">
            @if (loginCustomer != null)
            {

                <li><a href="/CustomerAccount/List"><i class="fa fa-user-o"></i> Hesabım </a></li>
                <li><a href="/Favorite/ListFavorite"><i class="fa fa-heart-o"></i> Favorilerim </a></li>
                <li><a href="#"><i class="fa fa-exchange"></i> Karşılaştır</a></li>
                <li><a href="#"><i class="fa fa-check"></i> Kontrol Et</a></li>
                <li><a href="/Home/Logout"><i class="fa fa-sign-out"></i> Çıkış Yap</a></li>
            }
            <li><a href="/Customer/Login"><i class="fa fa-unlock-alt"></i> Giriş Yap</a></li>
            <li><a href="/Customer/Register"><i class="fa fa-user-plus"></i> Bir Hesap Oluştur</a></li>
        </ul>
    </li>
    <!-- /Account -->
    <!-- Cart -->
    @if (loginCustomer != null)
    {

        Html.RenderAction("List", "Basket");
    }
        <!-- / Mobile nav toggle -->
</ul>
