@model EShop.EntitiesLayer.Entities.Customer
    @{
        ViewBag.Title = "MyAccount";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Kişi bilgileri -->
                <h2 class="text-center text-warning"></h2>
            </div>

            <div class="col-md-6">
                <!-- kişininnn yorumları favorileri sepeti -->
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>

        </div>
    </div>
